

.contact form {
    width: 400px;
    background-color: black;
    border: 2px solid #ccc;
    border-radius: 2em;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.contact h1 {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  text-align: center;
}

.contact label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 55px;
    text-align:right;
    vertical-align: top;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: white;
    font-size: 1em;
}

.contact .inp {
  background-color: #71b43d;
  border-radius: 1em;
  color: white;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

.contact .btn {
  width: 150px;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
