header {
  width: 960px;
  margin: auto;
  background-color: #222222;
  height: 90px;
  paddng: 30px 30px 30px 30px;
}

.grey {
  background-color: #f7f7f7;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75;
  margin: 0px;
}

h3 {
  text-decoration : underline;
  font-size: 20px;
}

h4 {
  text-decoration : underline;
  font-size: 17px;
}

footer {
  text-align: center;
}

span {
  padding: 25px 25px 25px 25px;
  font-size: 14pt;
  float: left;
  margin: 0px;
  color: #71b43d;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  }

.menu {
  font-size: 14pt;
  display: inline;
  list-style-type: none;
}

.menu li{
  padding: 25px 25px 25px 25px;
  float: left;
  margin: 0px;
}

nav a{
  color: white;
  text-decoration: none;
}
nav a:hover{
  color: #71b43d;
}
